In [39]:
import json
import pandas as pd
import numpy as np
from IPython.display import display

In [40]:
CURRENT_DATE = "02-09-2024"
teams_filename = f"./results/{CURRENT_DATE}/results_{CURRENT_DATE}.json"
SELECTED_MODEL_INDEX = 5
TOTAL_BUDGET = 1000

In [41]:
current_team_names = {"David Raya Martin",
                "Benjamin White",
                "Kieran Trippier",
                "Trent Alexander-Arnold",
                "Pedro Porro",
                "Bruno Guimarães Rodriguez Moura",
                "Jarrod Bowen",
                "Dejan Kulusevski",
                "Luis Díaz",
                "Nicolas Jackson",
                "Kai Havertz",
                "Bernd Leno",
                "Andrew Robertson",
                "Anthony Gordon",
                "Dominic Solanke-Mitchell"
                }

In [42]:
with open("data/data.csv","r",encoding="utf-8") as f:
    all_player_data = pd.read_csv(f)
current_team_data = all_player_data.loc[all_player_data["name"].isin(current_team_names)]
current_team_data

,id,name,cost,ict_index,total_points,points_per_game,form,position,team
1,3,Kai Havertz,81,24.7,22,7.3,7.3,FWD,ARS
8,11,David Raya Martin,55,9.0,20,6.7,6.7,GKP,ARS
13,19,Benjamin White,65,6.3,14,4.7,4.7,DEF,ARS
127,195,Nicolas Jackson,76,28.1,18,6.0,6.0,FWD,CHE
195,278,Bernd Leno,50,8.2,9,3.0,3.0,GKP,FUL
260,362,Trent Alexander-Arnold,70,14.8,20,6.7,6.7,DEF,LIV
271,377,Luis Díaz,75,36.4,32,10.7,10.7,MID,LIV
277,385,Andrew Robertson,60,18.6,18,6.0,6.0,DEF,LIV
328,451,Bruno Guimarães Rodriguez Moura,64,9.2,6,2.0,2.0,MID,NEW
330,454,Anthony Gordon,75,22.1,15,5.0,5.0,MID,NEW
348,474,Kieran Trippier,58,1.2,1,1.0,0.3,DEF,NEW
416,564,Dejan Kulusevski,64,18.9,9,3.0,3.0,MID,TOT
418,567,Pedro Porro,55,23.3,16,5.3,5.3,DEF,TOT
435,589,Jarrod Bowen,75,21.7,15,5.0,5.0,MID,WHU

In [43]:
current_team_cost = current_team_data["cost"].sum()
current_team_cost

np.int64(923)

In [44]:
with open(teams_filename,"r",encoding="utf-8") as f:
    all_data = json.load(f)
data = all_data["data"][SELECTED_MODEL_INDEX]
selected_team = pd.DataFrame(data=data)

In [45]:
selected_team

,id,name,cost,ict_index,total_points,points_per_game,form,position,team,score,is_benched
0,570,Cristian Romero,51,17.3,17,5.7,5.7,DEF,TOT,32.49,False
1,570,Cristian Romero,51,17.3,17,5.7,5.7,DEF,TOT,32.49,True
2,385,Andrew Robertson,60,18.6,18,6.0,6.0,DEF,LIV,36.00,False
3,388,Virgil van Dijk,60,9.3,18,6.0,6.0,DEF,LIV,36.00,False
4,362,Trent Alexander-Arnold,70,14.8,20,6.7,6.7,DEF,LIV,44.89,False
5,3,Kai Havertz,81,24.7,22,7.3,7.3,FWD,ARS,53.29,False
6,159,Danny Welbeck,56,24.4,23,7.7,7.7,FWD,BHA,59.29,False
7,159,Danny Welbeck,56,24.4,23,7.7,7.7,FWD,BHA,59.29,True
8,469,Nick Pope,50,8.6,16,5.3,5.3,GKP,NEW,28.09,True
9,361,Alisson Ramses Becker,55,6.0,21,7.0,7.0,GKP,LIV,49.00,False
10,269,Adama Traoré,50,21.2,17,5.7,5.7,MID,FUL,32.49,True
11,13,Bukayo Saka,101,43.0,24,8.0,8.0,MID,ARS,64.00,False
12,197,Cole Palmer,106,32.3,25,8.3,8.3,MID,CHE,68.89,False
13,192,Noni Madueke,66,26.4,22,11.0,7.3,MID,CHE,80.30,False
14,377,Luis Díaz,75,36.4,32,10.7,10.7,MID,LIV,114.49,False

In [46]:
selected_team_players = set(selected_team["name"])

In [47]:
new_players = selected_team_players - current_team_names
new_players

{'Adama Traoré',
 'Alisson Ramses Becker',
 'Bukayo Saka',
 'Cole Palmer',
 'Cristian Romero',
 'Danny Welbeck',
 'Nick Pope',
 'Noni Madueke',
 'Virgil van Dijk'}

In [48]:
new_players_df = selected_team.loc[selected_team["name"].isin(new_players)]
new_players_df

,id,name,cost,ict_index,total_points,points_per_game,form,position,team,score,is_benched
0,570,Cristian Romero,51,17.3,17,5.7,5.7,DEF,TOT,32.49,False
1,570,Cristian Romero,51,17.3,17,5.7,5.7,DEF,TOT,32.49,True
3,388,Virgil van Dijk,60,9.3,18,6.0,6.0,DEF,LIV,36.00,False
6,159,Danny Welbeck,56,24.4,23,7.7,7.7,FWD,BHA,59.29,False
7,159,Danny Welbeck,56,24.4,23,7.7,7.7,FWD,BHA,59.29,True
8,469,Nick Pope,50,8.6,16,5.3,5.3,GKP,NEW,28.09,True
9,361,Alisson Ramses Becker,55,6.0,21,7.0,7.0,GKP,LIV,49.00,False
10,269,Adama Traoré,50,21.2,17,5.7,5.7,MID,FUL,32.49,True
11,13,Bukayo Saka,101,43.0,24,8.0,8.0,MID,ARS,64.00,False
12,197,Cole Palmer,106,32.3,25,8.3,8.3,MID,CHE,68.89,False
13,192,Noni Madueke,66,26.4,22,11.0,7.3,MID,CHE,80.30,False

In [49]:
new_team_cost = selected_team["cost"].sum()
new_team_cost

np.int64(988)

In [50]:
added_cost = new_team_cost - current_team_cost
print("Added cost:",added_cost)

Added cost: 65

In [51]:
surplus = current_team_cost - new_team_cost

In [52]:
HEURISTIC = "points_per_game"
new_players_df.loc[:,"score"] = new_players_df[HEURISTIC] * new_players_df["form"]
selected_team.loc[:,"score"] = selected_team[HEURISTIC] * selected_team["form"]
current_team_data.loc[:,"score"] = current_team_data[HEURISTIC] * current_team_data["form"]

/tmp/ipykernel_18288/3605213291.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_team_data.loc[:,"score"] = current_team_data[HEURISTIC] * current_team_data["form"]

In [53]:
score_dif = selected_team["score"].sum() - current_team_data["score"].sum()
print("Score difference:",score_dif)

Score difference: 338.9599999999999

In [54]:
def get_best(current_team_data: pd.DataFrame,new_team: pd.DataFrame, new_players: pd.DataFrame, position: str):
    current_team_data = current_team_data.loc[current_team_data["position"]==position]
    new_players = new_players.loc[new_players["position"]==position]
    min_current = current_team_data.iloc[np.argmin(current_team_data["score"])]
    min_selected = new_players.iloc[np.argmin(new_players["score"])]
    max_current = current_team_data.iloc[np.argmax(current_team_data["score"])]
    max_selected = new_players.iloc[np.argmax(new_players["score"])]

    current_team_1 = current_team_data.drop(index=min_current.name)
    new_team_1 = new_team.drop(index=min_selected.name)

    current_cost_1 = current_team_1["cost"].sum()
    
    new_player_cost_1 = min_selected["cost"]
    new_cost_1 = current_cost_1 + new_player_cost_1
    score_dif_1 = min_selected["score"] - min_current["score"]

    current_team_2 = current_team_data.drop(index=max_current.name)
    new_team_2 = new_team.drop(index=max_selected.name)

    current_cost_2 = current_team_2["cost"].sum()
    
    new_player_cost_2 = max_selected["cost"]
    new_cost_2 = current_cost_2 + new_player_cost_2
    score_dif_2 = max_selected["score"] - max_current["score"]

    is_max_valid = not max_current["name"] in new_team["name"].values
    is_min_valid = not min_current["name"] in new_team["name"].values

    if(new_cost_1 <= 1000):
        if(new_cost_2 <= 1000):
            if(score_dif_1 <= 0 or score_dif_2 <= 0):
                return None
            elif (score_dif_1 > 0):
                if((score_dif_1 >= score_dif_2) or (not is_max_valid)):
                    return {"old":min_current,"new":min_selected,"score-dif":score_dif_1}
                elif ((score_dif_2 > score_dif_1) or (not is_min_valid)):
                    return {"old":max_current,"new":max_selected,"score-dif": score_dif_2}
        elif (new_cost_2 > 1000):
            if(score_dif_1 > 0):
                return {"old":min_current,"new":min_selected,"score-dif":score_dif_1}
            else:
                return None
    elif (new_cost_1 > 1000 and new_cost_2 <= 1000):
        if(score_dif_2 > 0):
            return {"old": max_current, "new": max_selected,"score-dif":score_dif_2}
        else:
            return None
    else:
        return None

In [55]:
def calculate_cost(team: pd.DataFrame):
    return team["cost"].sum()

In [56]:
def calculate_score(team: pd.DataFrame):
    return team["score"].sum()

In [57]:
def get_updated_team(team: pd.DataFrame, old_player: pd.Series, new_player: pd.Series):
    team: pd.DataFrame = team.drop(index=old_player.name)
    team.loc[len(team)] = new_player
    return team

In [58]:
def get_best_transfer(current_team_data: pd.DataFrame, new_team: pd.DataFrame, new_team_players: pd.DataFrame):
    before_cost = calculate_cost(current_team_data)
    before_score = calculate_score(current_team_data)

    possible_transfers = []
    goalie_transfers = get_best(current_team_data,new_team,new_team_players,"GKP")
    if(goalie_transfers is not None):
        possible_transfers.append(goalie_transfers)
    fwd_transfers = get_best(current_team_data,new_team,new_team_players,"FWD")
    if(fwd_transfers is not None):
        possible_transfers.append(fwd_transfers)
    mid_transfers = get_best(current_team_data,new_team,new_team_players,"MID")
    if(mid_transfers is not None):
        possible_transfers.append(mid_transfers)
    defender_transfers = get_best(current_team_data,new_team,new_team_players,"DEF")
    if(defender_transfers is not None):
        possible_transfers.append(defender_transfers)

    scores = [transfer["score-dif"] for transfer in possible_transfers]
    best_transfer_index = np.argmax(scores)
    best_transfer = possible_transfers[best_transfer_index]

    print("Best transfer:",best_transfer["old"]["name"],"->",best_transfer["new"]["name"])
    final_team = get_updated_team(current_team_data,best_transfer["old"],best_transfer["new"])
    print("Old cost:",before_cost,"\tNew cost:",calculate_cost(final_team))
    print("Old score:",before_score,"\tNew score:",calculate_score(final_team))
    print("\nDetails:\n"+str(best_transfer))
    print("\nFinal team:")
    final_team_sorted = final_team.sort_values(by=["position","score"],ascending=[True,False])
    display(final_team_sorted)
    pass

In [59]:
selected_team

,id,name,cost,ict_index,total_points,points_per_game,form,position,team,score,is_benched
0,570,Cristian Romero,51,17.3,17,5.7,5.7,DEF,TOT,32.49,False
1,570,Cristian Romero,51,17.3,17,5.7,5.7,DEF,TOT,32.49,True
2,385,Andrew Robertson,60,18.6,18,6.0,6.0,DEF,LIV,36.00,False
3,388,Virgil van Dijk,60,9.3,18,6.0,6.0,DEF,LIV,36.00,False
4,362,Trent Alexander-Arnold,70,14.8,20,6.7,6.7,DEF,LIV,44.89,False
5,3,Kai Havertz,81,24.7,22,7.3,7.3,FWD,ARS,53.29,False
6,159,Danny Welbeck,56,24.4,23,7.7,7.7,FWD,BHA,59.29,False
7,159,Danny Welbeck,56,24.4,23,7.7,7.7,FWD,BHA,59.29,True
8,469,Nick Pope,50,8.6,16,5.3,5.3,GKP,NEW,28.09,True
9,361,Alisson Ramses Becker,55,6.0,21,7.0,7.0,GKP,LIV,49.00,False
10,269,Adama Traoré,50,21.2,17,5.7,5.7,MID,FUL,32.49,True
11,13,Bukayo Saka,101,43.0,24,8.0,8.0,MID,ARS,64.00,False
12,197,Cole Palmer,106,32.3,25,8.3,8.3,MID,CHE,68.89,False
13,192,Noni Madueke,66,26.4,22,11.0,7.3,MID,CHE,80.30,False
14,377,Luis Díaz,75,36.4,32,10.7,10.7,MID,LIV,114.49,False

In [60]:
get_best_transfer(current_team_data,selected_team,new_players_df)

Best transfer: Nicolas Jackson -> Danny Welbeck
Old cost: 923 	New cost: 838
Old score: 452.03999999999996 	New score: 453.24

Details:
{'old': id                             195
name               Nicolas Jackson
cost                            76
ict_index                     28.1
total_points                    18
points_per_game                6.0
form                           6.0
position                       FWD
team                           CHE
score                         36.0
Name: 127, dtype: object, 'new': id                           159
name               Danny Welbeck
cost                          56
ict_index                   24.4
total_points                  23
points_per_game              7.7
form                         7.7
position                     FWD
team                         BHA
score                      59.29
is_benched                 False
Name: 6, dtype: object, 'score-dif': np.float64(23.290000000000006)}

Final team:

,id,name,cost,ict_index,total_points,points_per_game,form,position,team,score
260,362,Trent Alexander-Arnold,70,14.8,20,6.7,6.7,DEF,LIV,44.89
277,385,Andrew Robertson,60,18.6,18,6.0,6.0,DEF,LIV,36.00
418,567,Pedro Porro,55,23.3,16,5.3,5.3,DEF,TOT,28.09
348,474,Kieran Trippier,58,1.2,1,1.0,0.3,DEF,NEW,0.30
13,159,Danny Welbeck,56,24.4,23,7.7,7.7,FWD,BHA,59.29
1,3,Kai Havertz,81,24.7,22,7.3,7.3,FWD,ARS,53.29
8,11,David Raya Martin,55,9.0,20,6.7,6.7,GKP,ARS,44.89
195,278,Bernd Leno,50,8.2,9,3.0,3.0,GKP,FUL,9.00
271,377,Luis Díaz,75,36.4,32,10.7,10.7,MID,LIV,114.49
330,454,Anthony Gordon,75,22.1,15,5.0,5.0,MID,NEW,25.00
435,589,Jarrod Bowen,75,21.7,15,5.0,5.0,MID,WHU,25.00
416,564,Dejan Kulusevski,64,18.9,9,3.0,3.0,MID,TOT,9.00
328,451,Bruno Guimarães Rodriguez Moura,64,9.2,6,2.0,2.0,MID,NEW,4.00