In [1]:
import json
import pandas as pd
import numpy as np
from IPython.display import display

In [2]:
CURRENT_DATE = "01-09-2024"
teams_filename = f"./results/{CURRENT_DATE}/results_{CURRENT_DATE}.json"
SELECTED_MODEL_INDEX = 5
TOTAL_BUDGET = 1000

In [3]:
current_team_names = {"David Raya Martin",
                "Benjamin White",
                "Kieran Trippier",
                "Trent Alexander-Arnold",
                "Pedro Porro",
                "Bruno Guimarães Rodriguez Moura",
                "Jarrod Bowen",
                "Dejan Kulusevski",
                "Luis Díaz",
                "Nicolas Jackson",
                "Kai Havertz",
                "Bernd Leno",
                "Andrew Robertson",
                "Anthony Gordon",
                "Dominic Solanke-Mitchell"
                }

In [4]:
def concat_names(df: pd.DataFrame):
    return df["first_name"] + " " + df["second_name"]

In [5]:
with open("data/data.csv","r",encoding="utf-8") as f:
    all_player_data = pd.read_csv(f)
all_player_data["name"] = concat_names(all_player_data)
current_team_data = all_player_data.loc[all_player_data["name"].isin(current_team_names)]
current_team_data

,id,first_name,second_name,cost,ict_index,total_points,points_per_game,form,position,team,name
1,3,Kai,Havertz,81,24.7,22,7.3,7.3,FWD,ARS,Kai Havertz
8,11,David,Raya Martin,55,9.0,20,6.7,6.7,GKP,ARS,David Raya Martin
13,19,Benjamin,White,65,6.3,14,4.7,4.7,DEF,ARS,Benjamin White
127,195,Nicolas,Jackson,76,28.1,18,6.0,6.0,FWD,CHE,Nicolas Jackson
195,278,Bernd,Leno,50,8.2,9,3.0,3.0,GKP,FUL,Bernd Leno
260,362,Trent,Alexander-Arnold,70,14.8,20,6.7,6.7,DEF,LIV,Trent Alexander-Arnold
271,377,Luis,Díaz,75,36.4,32,10.7,10.7,MID,LIV,Luis Díaz
277,385,Andrew,Robertson,60,18.6,18,6.0,6.0,DEF,LIV,Andrew Robertson
328,451,Bruno,Guimarães Rodriguez Moura,64,9.2,6,2.0,2.0,MID,NEW,Bruno Guimarães Rodriguez Moura
330,454,Anthony,Gordon,75,22.1,15,5.0,5.0,MID,NEW,Anthony Gordon
348,474,Kieran,Trippier,58,1.2,1,1.0,0.3,DEF,NEW,Kieran Trippier
416,564,Dejan,Kulusevski,64,18.9,9,3.0,3.0,MID,TOT,Dejan Kulusevski
418,567,Pedro,Porro,55,23.3,16,5.3,5.3,DEF,TOT,Pedro Porro
435,589,Jarrod,Bowen,75,21.7,15,5.0,5.0,MID,WHU,Jarrod Bowen

In [6]:
current_team_cost = current_team_data["cost"].sum()
current_team_cost

np.int64(923)

In [7]:
with open(teams_filename,"r",encoding="utf-8") as f:
    all_data = json.load(f)
data = all_data["data"][SELECTED_MODEL_INDEX]
selected_team = pd.DataFrame(data=data)

In [8]:
selected_team

,id,name,cost,ict_index,total_points,points_per_game,form,position,team,score
0,11,David Raya Martin,55,9.0,20,6.7,6.7,GKP,ARS,44.89
1,357,Alisson Ramses Becker,55,3.4,13,6.5,4.3,GKP,LIV,27.95
2,565,Cristian Romero,51,15.5,16,8.0,5.3,DEF,TOT,42.40
3,562,Pedro Porro,55,17.8,15,7.5,5.0,DEF,TOT,37.50
4,358,Trent Alexander-Arnold,70,13.4,14,7.0,4.7,DEF,LIV,32.90
5,384,Virgil van Dijk,60,5.2,13,6.5,4.3,DEF,LIV,27.95
6,381,Andrew Robertson,60,15.4,12,6.0,4.0,DEF,LIV,24.00
7,159,Danny Welbeck,56,24.4,23,7.7,7.7,FWD,BHA,59.29
8,3,Kai Havertz,81,24.7,22,7.3,7.3,FWD,ARS,53.29
9,118,Yoane Wissa,61,26.1,21,7.0,7.0,FWD,BRE,49.00
10,193,Noni Madueke,65,21.4,20,20.0,6.7,MID,CHE,134.00
11,107,Bryan Mbeumo,70,31.6,24,8.0,8.0,MID,BRE,64.00
12,569,Son Heung-min,100,20.2,18,9.0,6.0,MID,TOT,54.00
13,373,Luis Díaz,75,23.9,17,8.5,5.7,MID,LIV,48.45
14,59,Amadou Onana,50,19.2,20,6.7,6.7,MID,AVL,44.89

In [9]:
selected_team_players = set(selected_team["name"])

In [10]:
new_players = selected_team_players - current_team_names
new_players

{'Alisson Ramses Becker',
 'Amadou Onana',
 'Bryan Mbeumo',
 'Cristian Romero',
 'Danny Welbeck',
 'Noni Madueke',
 'Son Heung-min',
 'Virgil van Dijk',
 'Yoane Wissa'}

In [11]:
new_players_df = selected_team.loc[selected_team["name"].isin(new_players)]
new_players_df

,id,name,cost,ict_index,total_points,points_per_game,form,position,team,score
1,357,Alisson Ramses Becker,55,3.4,13,6.5,4.3,GKP,LIV,27.95
2,565,Cristian Romero,51,15.5,16,8.0,5.3,DEF,TOT,42.40
5,384,Virgil van Dijk,60,5.2,13,6.5,4.3,DEF,LIV,27.95
7,159,Danny Welbeck,56,24.4,23,7.7,7.7,FWD,BHA,59.29
9,118,Yoane Wissa,61,26.1,21,7.0,7.0,FWD,BRE,49.00
10,193,Noni Madueke,65,21.4,20,20.0,6.7,MID,CHE,134.00
11,107,Bryan Mbeumo,70,31.6,24,8.0,8.0,MID,BRE,64.00
12,569,Son Heung-min,100,20.2,18,9.0,6.0,MID,TOT,54.00
14,59,Amadou Onana,50,19.2,20,6.7,6.7,MID,AVL,44.89

In [12]:
new_team_cost = selected_team["cost"].sum()
new_team_cost

np.int64(964)

In [13]:
added_cost = new_team_cost - current_team_cost
print("Added cost:",added_cost)

Added cost: 41

In [14]:
surplus = current_team_cost - new_team_cost

In [15]:
HEURISTIC = "points_per_game"
new_players_df.loc[:,"score"] = new_players_df[HEURISTIC] * new_players_df["form"]
selected_team.loc[:,"score"] = selected_team[HEURISTIC] * selected_team["form"]
current_team_data.loc[:,"score"] = current_team_data[HEURISTIC] * current_team_data["form"]

C:\Users\Crafty\AppData\Local\Temp\ipykernel_8348\3605213291.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_team_data.loc[:,"score"] = current_team_data[HEURISTIC] * current_team_data["form"]

In [16]:
score_dif = selected_team["score"].sum() - current_team_data["score"].sum()
print("Score difference:",score_dif)

Score difference: 292.47000000000014

In [17]:
def get_best(current_team_data: pd.DataFrame,new_team: pd.DataFrame, new_players: pd.DataFrame, position: str):
    current_team_data = current_team_data.loc[current_team_data["position"]==position]
    new_players = new_players.loc[new_players["position"]==position]
    min_current = current_team_data.iloc[np.argmin(current_team_data["score"])]
    min_selected = new_players.iloc[np.argmin(new_players["score"])]
    max_current = current_team_data.iloc[np.argmax(current_team_data["score"])]
    max_selected = new_players.iloc[np.argmax(new_players["score"])]

    current_team_1 = current_team_data.drop(index=min_current.name)
    new_team_1 = new_team.drop(index=min_selected.name)

    current_cost_1 = current_team_1["cost"].sum()
    
    new_player_cost_1 = min_selected["cost"]
    new_cost_1 = current_cost_1 + new_player_cost_1
    score_dif_1 = min_selected["score"] - min_current["score"]

    current_team_2 = current_team_data.drop(index=max_current.name)
    new_team_2 = new_team.drop(index=max_selected.name)

    current_cost_2 = current_team_2["cost"].sum()
    
    new_player_cost_2 = max_selected["cost"]
    new_cost_2 = current_cost_2 + new_player_cost_2
    score_dif_2 = max_selected["score"] - max_current["score"]

    is_max_valid = not max_current["name"] in new_team["name"].values
    is_min_valid = not min_current["name"] in new_team["name"].values

    if(new_cost_1 <= 1000):
        if(new_cost_2 <= 1000):
            if(score_dif_1 <= 0 or score_dif_2 <= 0):
                return None
            elif (score_dif_1 > 0):
                if((score_dif_1 >= score_dif_2) or (not is_max_valid)):
                    return {"old":min_current,"new":min_selected,"score-dif":score_dif_1}
                elif ((score_dif_2 > score_dif_1) or (not is_min_valid)):
                    return {"old":max_current,"new":max_selected,"score-dif": score_dif_2}
        elif (new_cost_2 > 1000):
            if(score_dif_1 > 0):
                return {"old":min_current,"new":min_selected,"score-dif":score_dif_1}
            else:
                return None
    elif (new_cost_1 > 1000 and new_cost_2 <= 1000):
        if(score_dif_2 > 0):
            return {"old": max_current, "new": max_selected,"score-dif":score_dif_2}
        else:
            return None
    else:
        return None

In [18]:
def calculate_cost(team: pd.DataFrame):
    return team["cost"].sum()

In [19]:
def calculate_score(team: pd.DataFrame):
    return team["score"].sum()

In [20]:
def get_updated_team(team: pd.DataFrame, old_player: pd.Series, new_player: pd.Series):
    team: pd.DataFrame = team.drop(index=old_player.name)
    team.loc[len(team)] = new_player
    return team

In [21]:
def get_best_transfer(current_team_data: pd.DataFrame, new_team: pd.DataFrame, new_team_players: pd.DataFrame):
    before_cost = calculate_cost(current_team_data)
    before_score = calculate_score(current_team_data)

    possible_transfers = []
    goalie_transfers = get_best(current_team_data,new_team,new_team_players,"GKP")
    if(goalie_transfers is not None):
        possible_transfers.append(goalie_transfers)
    fwd_transfers = get_best(current_team_data,new_team,new_team_players,"FWD")
    if(fwd_transfers is not None):
        possible_transfers.append(fwd_transfers)
    mid_transfers = get_best(current_team_data,new_team,new_team_players,"MID")
    if(mid_transfers is not None):
        possible_transfers.append(mid_transfers)
    defender_transfers = get_best(current_team_data,new_team,new_team_players,"DEF")
    if(defender_transfers is not None):
        possible_transfers.append(defender_transfers)

    scores = [transfer["score-dif"] for transfer in possible_transfers]
    best_transfer_index = np.argmax(scores)
    best_transfer = possible_transfers[best_transfer_index]

    print("Best transfer:",best_transfer["old"]["name"],"->",best_transfer["new"]["name"])
    final_team = get_updated_team(current_team_data,best_transfer["old"],best_transfer["new"])
    print("Old cost:",before_cost,"\tNew cost:",calculate_cost(final_team))
    print("Old score:",before_score,"\tNew score:",calculate_score(final_team))
    print("\nDetails:\n"+str(best_transfer))
    print("\nFinal team:")
    display(final_team.sort_values(by="score",ascending=False))
    pass

In [22]:
selected_team

,id,name,cost,ict_index,total_points,points_per_game,form,position,team,score
0,11,David Raya Martin,55,9.0,20,6.7,6.7,GKP,ARS,44.89
1,357,Alisson Ramses Becker,55,3.4,13,6.5,4.3,GKP,LIV,27.95
2,565,Cristian Romero,51,15.5,16,8.0,5.3,DEF,TOT,42.40
3,562,Pedro Porro,55,17.8,15,7.5,5.0,DEF,TOT,37.50
4,358,Trent Alexander-Arnold,70,13.4,14,7.0,4.7,DEF,LIV,32.90
5,384,Virgil van Dijk,60,5.2,13,6.5,4.3,DEF,LIV,27.95
6,381,Andrew Robertson,60,15.4,12,6.0,4.0,DEF,LIV,24.00
7,159,Danny Welbeck,56,24.4,23,7.7,7.7,FWD,BHA,59.29
8,3,Kai Havertz,81,24.7,22,7.3,7.3,FWD,ARS,53.29
9,118,Yoane Wissa,61,26.1,21,7.0,7.0,FWD,BRE,49.00
10,193,Noni Madueke,65,21.4,20,20.0,6.7,MID,CHE,134.00
11,107,Bryan Mbeumo,70,31.6,24,8.0,8.0,MID,BRE,64.00
12,569,Son Heung-min,100,20.2,18,9.0,6.0,MID,TOT,54.00
13,373,Luis Díaz,75,23.9,17,8.5,5.7,MID,LIV,48.45
14,59,Amadou Onana,50,19.2,20,6.7,6.7,MID,AVL,44.89

In [23]:
get_best_transfer(current_team_data,selected_team,new_players_df)

Best transfer: Bruno Guimarães Rodriguez Moura -> Amadou Onana
Old cost: 923 	New cost: 844
Old score: 452.03999999999996 	New score: 470.84

Details:
{'old': id                                             451
first_name                                   Bruno
second_name              Guimarães Rodriguez Moura
cost                                            64
ict_index                                      9.2
total_points                                     6
points_per_game                                2.0
form                                           2.0
position                                       MID
team                                           NEW
name               Bruno Guimarães Rodriguez Moura
score                                          4.0
Name: 328, dtype: object, 'new': id                           59
name               Amadou Onana
cost                         50
ict_index                  19.2
total_points                 20
points_per_game             6.7
form                        6.7
position                    MID
team                        AVL
score                     44.89
Name: 14, dtype: object, 'score-dif': np.float64(40.89)}

Final team:

,id,first_name,second_name,cost,ict_index,total_points,points_per_game,form,position,team,name,score
271,377,Luis,Díaz,75,36.4,32,10.7,10.7,MID,LIV,Luis Díaz,114.49
1,3,Kai,Havertz,81,24.7,22,7.3,7.3,FWD,ARS,Kai Havertz,53.29
8,11,David,Raya Martin,55,9.0,20,6.7,6.7,GKP,ARS,David Raya Martin,44.89
260,362,Trent,Alexander-Arnold,70,14.8,20,6.7,6.7,DEF,LIV,Trent Alexander-Arnold,44.89
13,59,NaN,NaN,50,19.2,20,6.7,6.7,MID,AVL,Amadou Onana,44.89
277,385,Andrew,Robertson,60,18.6,18,6.0,6.0,DEF,LIV,Andrew Robertson,36.00
127,195,Nicolas,Jackson,76,28.1,18,6.0,6.0,FWD,CHE,Nicolas Jackson,36.00
418,567,Pedro,Porro,55,23.3,16,5.3,5.3,DEF,TOT,Pedro Porro,28.09
330,454,Anthony,Gordon,75,22.1,15,5.0,5.0,MID,NEW,Anthony Gordon,25.00
435,589,Jarrod,Bowen,75,21.7,15,5.0,5.0,MID,WHU,Jarrod Bowen,25.00
195,278,Bernd,Leno,50,8.2,9,3.0,3.0,GKP,FUL,Bernd Leno,9.00
416,564,Dejan,Kulusevski,64,18.9,9,3.0,3.0,MID,TOT,Dejan Kulusevski,9.00
348,474,Kieran,Trippier,58,1.2,1,1.0,0.3,DEF,NEW,Kieran Trippier,0.30