In [4]:
import json
import pandas as pd
import numpy as np
from IPython.display import display

In [5]:
CURRENT_DATE = "26-08-2024"
teams_filename = f"./results/{CURRENT_DATE}/results_{CURRENT_DATE}.json"
SELECTED_MODEL_INDEX = 5
TOTAL_BUDGET = 1000

In [6]:
current_team_names = {"André Onana",
                "Benjamin White",
                "Kieran Trippier",
                "Trent Alexander-Arnold",
                "Pedro Porro",
                "Bruno Guimarães Rodriguez Moura",
                "Jarrod Bowen",
                "Dejan Kulusevski",
                "Luis Díaz",
                "Nicolas Jackson",
                "Kai Havertz",
                "Bernd Leno",
                "Andrew Robertson",
                "Anthony Gordon",
                "Dominic Solanke-Mitchell"
                }

In [7]:
def concat_names(df: pd.DataFrame):
    return df["first_name"] + " " + df["second_name"]

In [8]:
with open("data/data.csv","r",encoding="utf-8") as f:
    all_player_data = pd.read_csv(f)
all_player_data["name"] = concat_names(all_player_data)
current_team_data = all_player_data.loc[all_player_data["name"].isin(current_team_names)]
current_team_data

,id,first_name,second_name,cost,ict_index,total_points,points_per_game,form,position,team,name
2,3,Kai,Havertz,81,14.5,14,7.0,7.0,FWD,ARS,Kai Havertz
18,22,Benjamin,White,65,3.5,12,6.0,6.0,DEF,ARS,Benjamin White
151,191,Nicolas,Jackson,75,16.6,12,6.0,6.0,FWD,CHE,Nicolas Jackson
216,268,Bernd,Leno,50,5.4,6,3.0,3.0,GKP,FUL,Bernd Leno
283,347,Trent,Alexander-Arnold,70,13.4,14,7.0,7.0,DEF,LIV,Trent Alexander-Arnold
297,362,Luis,Díaz,75,23.9,17,8.5,8.5,MID,LIV,Luis Díaz
303,370,Andrew,Robertson,60,15.4,12,6.0,6.0,DEF,LIV,Andrew Robertson
345,420,André,Onana,50,4.2,7,3.5,3.5,GKP,MUN,André Onana
355,434,Bruno,Guimarães Rodriguez Moura,65,8.4,5,2.5,2.5,MID,NEW,Bruno Guimarães Rodriguez Moura
359,438,Anthony,Gordon,75,16.3,13,6.5,6.5,MID,NEW,Anthony Gordon
376,458,Kieran,Trippier,59,1.2,1,1.0,0.5,DEF,NEW,Kieran Trippier
447,545,Dejan,Kulusevski,64,10.8,7,3.5,3.5,MID,TOT,Dejan Kulusevski
450,548,Pedro,Porro,55,17.8,15,7.5,7.5,DEF,TOT,Pedro Porro
470,570,Jarrod,Bowen,75,15.4,10,5.0,5.0,MID,WHU,Jarrod Bowen

In [9]:
current_team_cost = current_team_data["cost"].sum()
current_team_cost

np.int64(919)

In [10]:
with open(teams_filename,"r",encoding="utf-8") as f:
    all_data = json.load(f)
data = all_data["data"][SELECTED_MODEL_INDEX]
selected_team = pd.DataFrame(data=data)

In [11]:
selected_team

,id,name,cost,ict_index,total_points,points_per_game,form,position,team,score
0,14,David Raya Martin,55,5.6,18,9.0,9.0,GKP,ARS,81.00
1,346,Alisson Ramses Becker,55,3.4,13,6.5,6.5,GKP,LIV,42.25
2,551,Cristian Romero,50,15.5,16,8.0,8.0,DEF,TOT,64.00
3,548,Pedro Porro,55,17.8,15,7.5,7.5,DEF,TOT,56.25
4,347,Trent Alexander-Arnold,70,13.4,14,7.0,7.0,DEF,LIV,49.00
5,373,Virgil van Dijk,60,5.2,13,6.5,6.5,DEF,LIV,42.25
6,579,Max Kilman,45,10.9,13,6.5,6.5,DEF,WHU,42.25
7,154,Danny Welbeck,56,23.5,21,10.5,10.5,FWD,BHA,110.25
8,3,Kai Havertz,81,14.5,14,7.0,7.0,FWD,ARS,49.00
9,114,Yoane Wissa,60,11.6,13,6.5,6.5,FWD,BRE,42.25
10,188,Noni Madueke,65,21.4,20,20.0,10.0,MID,CHE,200.00
11,16,Bukayo Saka,100,28.6,18,9.0,9.0,MID,ARS,81.00
12,362,Luis Díaz,75,23.9,17,8.5,8.5,MID,LIV,72.25
13,379,Kevin De Bruyne,96,17.4,15,7.5,7.5,MID,MCI,56.25
14,142,Mitoma Kaoru,66,16.8,14,7.0,7.0,MID,BHA,49.00

In [12]:
selected_team_players = set(selected_team["name"])

In [13]:
new_players = selected_team_players - current_team_names
new_players

{'Alisson Ramses Becker',
 'Bukayo Saka',
 'Cristian Romero',
 'Danny Welbeck',
 'David Raya Martin',
 'Kevin De Bruyne',
 'Max Kilman',
 'Mitoma Kaoru',
 'Noni Madueke',
 'Virgil van Dijk',
 'Yoane Wissa'}

In [14]:
new_players_df = selected_team.loc[selected_team["name"].isin(new_players)]
new_players_df

,id,name,cost,ict_index,total_points,points_per_game,form,position,team,score
0,14,David Raya Martin,55,5.6,18,9.0,9.0,GKP,ARS,81.00
1,346,Alisson Ramses Becker,55,3.4,13,6.5,6.5,GKP,LIV,42.25
2,551,Cristian Romero,50,15.5,16,8.0,8.0,DEF,TOT,64.00
5,373,Virgil van Dijk,60,5.2,13,6.5,6.5,DEF,LIV,42.25
6,579,Max Kilman,45,10.9,13,6.5,6.5,DEF,WHU,42.25
7,154,Danny Welbeck,56,23.5,21,10.5,10.5,FWD,BHA,110.25
9,114,Yoane Wissa,60,11.6,13,6.5,6.5,FWD,BRE,42.25
10,188,Noni Madueke,65,21.4,20,20.0,10.0,MID,CHE,200.00
11,16,Bukayo Saka,100,28.6,18,9.0,9.0,MID,ARS,81.00
13,379,Kevin De Bruyne,96,17.4,15,7.5,7.5,MID,MCI,56.25
14,142,Mitoma Kaoru,66,16.8,14,7.0,7.0,MID,BHA,49.00

In [15]:
new_team_cost = selected_team["cost"].sum()
new_team_cost

np.int64(989)

In [16]:
added_cost = new_team_cost - current_team_cost
print("Added cost:",added_cost)

Added cost: 70

In [17]:
surplus = current_team_cost - new_team_cost

In [18]:
HEURISTIC = "points_per_game"
new_players_df.loc[:,"score"] = new_players_df[HEURISTIC] * new_players_df["form"]
selected_team.loc[:,"score"] = selected_team[HEURISTIC] * selected_team["form"]
current_team_data.loc[:,"score"] = current_team_data[HEURISTIC] * current_team_data["form"]

/tmp/ipykernel_34841/3605213291.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_team_data.loc[:,"score"] = current_team_data[HEURISTIC] * current_team_data["form"]

In [19]:
score_dif = selected_team["score"].sum() - current_team_data["score"].sum()
print("Score difference:",score_dif)

Score difference: 595.0

In [20]:
def get_best(current_team_data: pd.DataFrame,new_team: pd.DataFrame, new_players: pd.DataFrame, position: str):
    current_team_data = current_team_data.loc[current_team_data["position"]==position]
    new_players = new_players.loc[new_players["position"]==position]
    min_current = current_team_data.iloc[np.argmin(current_team_data["score"])]
    min_selected = new_players.iloc[np.argmin(new_players["score"])]
    max_current = current_team_data.iloc[np.argmax(current_team_data["score"])]
    max_selected = new_players.iloc[np.argmax(new_players["score"])]

    current_team_1 = current_team_data.drop(index=min_current.name)
    new_team_1 = new_team.drop(index=min_selected.name)

    current_cost_1 = current_team_1["cost"].sum()
    
    new_player_cost_1 = min_selected["cost"]
    new_cost_1 = current_cost_1 + new_player_cost_1
    score_dif_1 = min_selected["score"] - min_current["score"]

    current_team_2 = current_team_data.drop(index=max_current.name)
    new_team_2 = new_team.drop(index=max_selected.name)

    current_cost_2 = current_team_2["cost"].sum()
    
    new_player_cost_2 = max_selected["cost"]
    new_cost_2 = current_cost_2 + new_player_cost_2
    score_dif_2 = max_selected["score"] - max_current["score"]

    is_max_valid = not max_current["name"] in new_team["name"].values
    is_min_valid = not min_current["name"] in new_team["name"].values

    if(new_cost_1 <= 1000):
        if(new_cost_2 <= 1000):
            if(score_dif_1 <= 0 or score_dif_2 <= 0):
                return None
            elif (score_dif_1 > 0):
                if((score_dif_1 >= score_dif_2) or (not is_max_valid)):
                    return {"old":min_current,"new":min_selected,"score-dif":score_dif_1}
                elif ((score_dif_2 > score_dif_1) or (not is_min_valid)):
                    return {"old":max_current,"new":max_selected,"score-dif": score_dif_2}
        elif (new_cost_2 > 1000):
            if(score_dif_1 > 0):
                return {"old":min_current,"new":min_selected,"score-dif":score_dif_1}
            else:
                return None
    elif (new_cost_1 > 1000 and new_cost_2 <= 1000):
        if(score_dif_2 > 0):
            return {"old": max_current, "new": max_selected,"score-dif":score_dif_2}
        else:
            return None
    else:
        return None

In [21]:
def calculate_cost(team: pd.DataFrame):
    return team["cost"].sum()

In [22]:
def calculate_score(team: pd.DataFrame):
    return team["score"].sum()

In [23]:
def get_updated_team(team: pd.DataFrame, old_player: pd.Series, new_player: pd.Series):
    team: pd.DataFrame = team.drop(index=old_player.name)
    team.loc[len(team)] = new_player
    return team

In [27]:
def get_best_transfer(current_team_data: pd.DataFrame, new_team: pd.DataFrame, new_team_players: pd.DataFrame):
    before_cost = calculate_cost(current_team_data)
    before_score = calculate_score(current_team_data)

    possible_transfers = []
    goalie_transfers = get_best(current_team_data,new_team,new_team_players,"GKP")
    if(goalie_transfers is not None):
        possible_transfers.append(goalie_transfers)
    fwd_transfers = get_best(current_team_data,new_team,new_team_players,"FWD")
    if(fwd_transfers is not None):
        possible_transfers.append(fwd_transfers)
    mid_transfers = get_best(current_team_data,new_team,new_team_players,"MID")
    if(mid_transfers is not None):
        possible_transfers.append(mid_transfers)
    defender_transfers = get_best(current_team_data,new_team,new_team_players,"DEF")
    if(defender_transfers is not None):
        possible_transfers.append(defender_transfers)

    scores = [transfer["score-dif"] for transfer in possible_transfers]
    best_transfer_index = np.argmax(scores)
    best_transfer = possible_transfers[best_transfer_index]

    print("Best transfer:",best_transfer["old"]["name"],"->",best_transfer["new"]["name"])
    final_team = get_updated_team(current_team_data,best_transfer["old"],best_transfer["new"])
    print("Old cost:",before_cost,"\tNew cost:",calculate_cost(final_team))
    print("Old score:",before_score,"\tNew score:",calculate_score(final_team))
    print("\nDetails:\n"+str(best_transfer))
    print("\nFinal team:")
    display(final_team.sort_values(by="score",ascending=False))
    pass

In [28]:
selected_team

,id,name,cost,ict_index,total_points,points_per_game,form,position,team,score
0,14,David Raya Martin,55,5.6,18,9.0,9.0,GKP,ARS,81.00
1,346,Alisson Ramses Becker,55,3.4,13,6.5,6.5,GKP,LIV,42.25
2,551,Cristian Romero,50,15.5,16,8.0,8.0,DEF,TOT,64.00
3,548,Pedro Porro,55,17.8,15,7.5,7.5,DEF,TOT,56.25
4,347,Trent Alexander-Arnold,70,13.4,14,7.0,7.0,DEF,LIV,49.00
5,373,Virgil van Dijk,60,5.2,13,6.5,6.5,DEF,LIV,42.25
6,579,Max Kilman,45,10.9,13,6.5,6.5,DEF,WHU,42.25
7,154,Danny Welbeck,56,23.5,21,10.5,10.5,FWD,BHA,110.25
8,3,Kai Havertz,81,14.5,14,7.0,7.0,FWD,ARS,49.00
9,114,Yoane Wissa,60,11.6,13,6.5,6.5,FWD,BRE,42.25
10,188,Noni Madueke,65,21.4,20,20.0,10.0,MID,CHE,200.00
11,16,Bukayo Saka,100,28.6,18,9.0,9.0,MID,ARS,81.00
12,362,Luis Díaz,75,23.9,17,8.5,8.5,MID,LIV,72.25
13,379,Kevin De Bruyne,96,17.4,15,7.5,7.5,MID,MCI,56.25
14,142,Mitoma Kaoru,66,16.8,14,7.0,7.0,MID,BHA,49.00

In [29]:
get_best_transfer(current_team_data,selected_team,new_players_df)

Best transfer: André Onana -> David Raya Martin
Old cost: 919 	New cost: 924
Old score: 442.0 	New score: 510.75

Details:
{'old': id                         420
first_name               André
second_name              Onana
cost                        50
ict_index                  4.2
total_points                 7
points_per_game            3.5
form                       3.5
position                   GKP
team                       MUN
name               André Onana
score                    12.25
Name: 345, dtype: object, 'new': id                                14
name               David Raya Martin
cost                              55
ict_index                        5.6
total_points                      18
points_per_game                  9.0
form                             9.0
position                         GKP
team                             ARS
score                           81.0
Name: 0, dtype: object, 'score-dif': np.float64(68.75)}

Final team:

,id,first_name,second_name,cost,ict_index,total_points,points_per_game,form,position,team,name,score
13,14,NaN,NaN,55,5.6,18,9.0,9.0,GKP,ARS,David Raya Martin,81.00
297,362,Luis,Díaz,75,23.9,17,8.5,8.5,MID,LIV,Luis Díaz,72.25
450,548,Pedro,Porro,55,17.8,15,7.5,7.5,DEF,TOT,Pedro Porro,56.25
2,3,Kai,Havertz,81,14.5,14,7.0,7.0,FWD,ARS,Kai Havertz,49.00
283,347,Trent,Alexander-Arnold,70,13.4,14,7.0,7.0,DEF,LIV,Trent Alexander-Arnold,49.00
359,438,Anthony,Gordon,75,16.3,13,6.5,6.5,MID,NEW,Anthony Gordon,42.25
18,22,Benjamin,White,65,3.5,12,6.0,6.0,DEF,ARS,Benjamin White,36.00
151,191,Nicolas,Jackson,75,16.6,12,6.0,6.0,FWD,CHE,Nicolas Jackson,36.00
303,370,Andrew,Robertson,60,15.4,12,6.0,6.0,DEF,LIV,Andrew Robertson,36.00
470,570,Jarrod,Bowen,75,15.4,10,5.0,5.0,MID,WHU,Jarrod Bowen,25.00
447,545,Dejan,Kulusevski,64,10.8,7,3.5,3.5,MID,TOT,Dejan Kulusevski,12.25
216,268,Bernd,Leno,50,5.4,6,3.0,3.0,GKP,FUL,Bernd Leno,9.00
355,434,Bruno,Guimarães Rodriguez Moura,65,8.4,5,2.5,2.5,MID,NEW,Bruno Guimarães Rodriguez Moura,6.25
376,458,Kieran,Trippier,59,1.2,1,1.0,0.5,DEF,NEW,Kieran Trippier,0.50