In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
CURRENT_DATE = "26-08-2024"
teams_filename = f"./results/{CURRENT_DATE}/results_{CURRENT_DATE}.json"
SELECTED_MODEL_INDEX = 5
TOTAL_BUDGET = 1000

In [3]:
current_team_names = {"Onana",
                "White",
                "Trippier",
                "Alexander-Arnold",
                "Pedro Porro",
                "Bruno G.",
                "Bowen",
                "Kulusevski",
                "Luis Díaz",
                "N.Jackson",
                "Havertz",
                "Leno",
                "Robertson",
                "Gordon",
                "Solanke"
                }

In [5]:
with open("data/data.csv","r",encoding="utf-8") as f:
    all_player_data = pd.read_csv(f)
current_team_data = all_player_data.loc[all_player_data["name"].isin(current_team_names)]
current_team_data

,id,name,cost,ict_index,total_points,points_per_game,form,position,team
2,3,Havertz,81,14.5,14,7.0,7.0,FWD,ARS
18,22,White,65,3.5,12,6.0,6.0,DEF,ARS
43,57,Onana,50,9.5,11,5.5,5.5,MID,AVL
151,191,N.Jackson,75,16.6,12,6.0,6.0,FWD,CHE
216,268,Leno,50,5.4,6,3.0,3.0,GKP,FUL
283,347,Alexander-Arnold,70,13.4,14,7.0,7.0,DEF,LIV
297,362,Luis Díaz,75,23.9,17,8.5,8.5,MID,LIV
303,370,Robertson,60,15.4,12,6.0,6.0,DEF,LIV
345,420,Onana,50,4.2,7,3.5,3.5,GKP,MUN
355,434,Bruno G.,65,8.4,5,2.5,2.5,MID,NEW
359,438,Gordon,75,16.3,13,6.5,6.5,MID,NEW
376,458,Trippier,59,1.2,1,1.0,0.5,DEF,NEW
377,459,White,45,0.0,0,0.0,0.0,MID,NEW
447,545,Kulusevski,64,10.8,7,3.5,3.5,MID,TOT
450,548,Pedro Porro,55,17.8,15,7.5,7.5,DEF,TOT
470,570,Bowen,75,15.4,10,5.0,5.0,MID,WHU

In [6]:
current_team_cost = current_team_data["cost"].sum()
current_team_cost

np.int64(1014)

In [10]:
with open(teams_filename,"r",encoding="utf-16") as f:
    all_data = json.load(f)
data = all_data["data"][SELECTED_MODEL_INDEX]
selected_team = pd.DataFrame(data=data)

In [11]:
selected_team

,id,name,cost,ict_index,total_points,points_per_game,form,position,team,score
0,14,Raya,55,5.6,18,9.0,9.0,GKP,ARS,81.00
1,346,A.Becker,55,3.4,13,6.5,6.5,GKP,LIV,42.25
2,551,Romero,50,15.5,16,8.0,8.0,DEF,TOT,64.00
3,548,Pedro Porro,55,17.8,15,7.5,7.5,DEF,TOT,56.25
4,347,Alexander-Arnold,70,13.4,14,7.0,7.0,DEF,LIV,49.00
5,579,Kilman,45,10.9,13,6.5,6.5,DEF,WHU,42.25
6,373,Virgil,60,5.2,13,6.5,6.5,DEF,LIV,42.25
7,154,Welbeck,56,23.5,21,10.5,10.5,FWD,BHA,110.25
8,3,Havertz,81,14.5,14,7.0,7.0,FWD,ARS,49.00
9,114,Wissa,60,11.6,13,6.5,6.5,FWD,BRE,42.25
10,188,Madueke,65,21.4,20,20.0,10.0,MID,CHE,200.00
11,555,Son,100,20.2,18,9.0,9.0,MID,TOT,81.00
12,362,Luis Díaz,75,23.9,17,8.5,8.5,MID,LIV,72.25
13,379,De Bruyne,96,17.4,15,7.5,7.5,MID,MCI,56.25
14,352,Diogo J.,76,15.2,14,7.0,7.0,MID,LIV,49.00

In [12]:
selected_team_players = set(selected_team["name"])

In [13]:
new_players = selected_team_players - current_team_names
new_players

{'A.Becker',
 'De Bruyne',
 'Diogo J.',
 'Kilman',
 'Madueke',
 'Raya',
 'Romero',
 'Son',
 'Virgil',
 'Welbeck',
 'Wissa'}

In [14]:
new_players_df = selected_team.loc[selected_team["name"].isin(new_players)]
new_players_df

,id,name,cost,ict_index,total_points,points_per_game,form,position,team,score
0,14,Raya,55,5.6,18,9.0,9.0,GKP,ARS,81.00
1,346,A.Becker,55,3.4,13,6.5,6.5,GKP,LIV,42.25
2,551,Romero,50,15.5,16,8.0,8.0,DEF,TOT,64.00
5,579,Kilman,45,10.9,13,6.5,6.5,DEF,WHU,42.25
6,373,Virgil,60,5.2,13,6.5,6.5,DEF,LIV,42.25
7,154,Welbeck,56,23.5,21,10.5,10.5,FWD,BHA,110.25
9,114,Wissa,60,11.6,13,6.5,6.5,FWD,BRE,42.25
10,188,Madueke,65,21.4,20,20.0,10.0,MID,CHE,200.00
11,555,Son,100,20.2,18,9.0,9.0,MID,TOT,81.00
13,379,De Bruyne,96,17.4,15,7.5,7.5,MID,MCI,56.25
14,352,Diogo J.,76,15.2,14,7.0,7.0,MID,LIV,49.00

In [15]:
new_team_cost = selected_team["cost"].sum()
new_team_cost

np.int64(999)

In [16]:
added_cost = new_team_cost - current_team_cost
print("Added cost:",added_cost)

Added cost: -15

In [17]:
surplus = current_team_cost - new_team_cost

In [18]:
HEURISTIC = "points_per_game"
new_players_df.loc[:,"score"] = new_players_df[HEURISTIC] * new_players_df["form"]
selected_team.loc[:,"score"] = selected_team[HEURISTIC] * selected_team["form"]
current_team_data.loc[:,"score"] = current_team_data[HEURISTIC] * current_team_data["form"]

C:\Users\Crafty\AppData\Local\Temp\ipykernel_19368\3605213291.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_team_data.loc[:,"score"] = current_team_data[HEURISTIC] * current_team_data["form"]

In [19]:
score_dif = selected_team["score"].sum() - current_team_data["score"].sum()
print("Score difference:",score_dif)

Score difference: 564.75

In [20]:
def get_best(current_team_data: pd.DataFrame,new_team: pd.DataFrame, new_team_players: pd.DataFrame, position: str):
    current_team_data = current_team_data.loc[current_team_data["position"]==position]
    new_team_players = new_team_players.loc[new_team_players["position"]==position]
    min_current = current_team_data.iloc[np.argmin(current_team_data["score"])]
    min_selected = new_team_players.iloc[np.argmin(new_team_players["score"])]
    max_current = current_team_data.iloc[np.argmax(current_team_data["score"])]
    max_selected = new_team_players.iloc[np.argmax(new_team_players["score"])]

    current_team_1 = current_team_data.drop(index=min_current.name)
    new_team_1 = new_team.drop(index=min_selected.name)

    current_cost_1 = current_team_1["cost"].sum()
    
    new_player_cost_1 = min_selected["cost"]
    new_cost_1 = current_cost_1 + new_player_cost_1
    score_dif_1 = min_selected["score"] - min_current["score"]

    current_team_2 = current_team_data.drop(index=max_current.name)
    new_team_2 = new_team.drop(index=max_selected.name)

    current_cost_2 = current_team_2["cost"].sum()
    
    new_player_cost_2 = max_selected["cost"]
    new_cost_2 = current_cost_2 + new_player_cost_2
    score_dif_2 = max_selected["score"] - max_current["score"]

    if(new_cost_1 <= 1000):
        if(new_cost_2 <= 1000):
            if(score_dif_1 <= 0 or score_dif_2 <= 0):
                return None
            elif (score_dif_1 > 0):
                if(score_dif_1 >= score_dif_2):
                    return {"old":min_current,"new":min_selected,"score-dif":score_dif_1}
                elif (score_dif_2 > score_dif_1):
                    return {"old":max_current,"new":max_selected,"score-dif": score_dif_2}
        elif (new_cost_2 > 1000):
            if(score_dif_1 > 0):
                return {"old":min_current,"new":min_selected,"score-dif":score_dif_1}
            else:
                return None
    elif (new_cost_1 > 1000 and new_cost_2 <= 1000):
        if(score_dif_2 > 0):
            return {"old": max_current, "new": max_selected,"score-dif":score_dif_2}
        else:
            return None
    else:
        return None

In [21]:
def get_best_transfer(current_team_data: pd.DataFrame,new_team: pd.DataFrame, new_team_players: pd.DataFrame):
    possible_transfers = []
    goalie_transfers = get_best(current_team_data,selected_team,new_players_df,"GKP")
    if(goalie_transfers is not None):
        possible_transfers.append(goalie_transfers)
    fwd_transfers = get_best(current_team_data,selected_team,new_players_df,"FWD")
    if(fwd_transfers is not None):
        possible_transfers.append(fwd_transfers)
    mid_transfers = get_best(current_team_data,selected_team,new_players_df,"MID")
    if(mid_transfers is not None):
        possible_transfers.append(mid_transfers)
    defender_transfers = get_best(current_team_data,selected_team,new_players_df,"DEF")
    if(defender_transfers is not None):
        possible_transfers.append(defender_transfers)

    scores = [transfer["score-dif"] for transfer in possible_transfers]
    best_transfer_index = np.argmax(scores)
    best_transfer = possible_transfers[best_transfer_index]
    print("Best transfer:",best_transfer["old"]["name"],"->",best_transfer["new"]["name"])
    print("\nDetails:\n"+str(best_transfer))
    pass

In [27]:
current_team_data

,id,name,cost,ict_index,total_points,points_per_game,form,position,team,score
2,3,Havertz,81,14.5,14,7.0,7.0,FWD,ARS,49.00
18,22,White,65,3.5,12,6.0,6.0,DEF,ARS,36.00
43,57,Onana,50,9.5,11,5.5,5.5,MID,AVL,30.25
151,191,N.Jackson,75,16.6,12,6.0,6.0,FWD,CHE,36.00
216,268,Leno,50,5.4,6,3.0,3.0,GKP,FUL,9.00
283,347,Alexander-Arnold,70,13.4,14,7.0,7.0,DEF,LIV,49.00
297,362,Luis Díaz,75,23.9,17,8.5,8.5,MID,LIV,72.25
303,370,Robertson,60,15.4,12,6.0,6.0,DEF,LIV,36.00
345,420,Onana,50,4.2,7,3.5,3.5,GKP,MUN,12.25
355,434,Bruno G.,65,8.4,5,2.5,2.5,MID,NEW,6.25
359,438,Gordon,75,16.3,13,6.5,6.5,MID,NEW,42.25
376,458,Trippier,59,1.2,1,1.0,0.5,DEF,NEW,0.50
377,459,White,45,0.0,0,0.0,0.0,MID,NEW,0.00
447,545,Kulusevski,64,10.8,7,3.5,3.5,MID,TOT,12.25
450,548,Pedro Porro,55,17.8,15,7.5,7.5,DEF,TOT,56.25
470,570,Bowen,75,15.4,10,5.0,5.0,MID,WHU,25.00

In [22]:
# TODO: Add check for if current best transfer player is in new team
get_best_transfer(current_team_data,selected_team,new_players_df)

Best transfer: Luis Díaz -> Madueke

Details:
{'old': id                       362
name               Luis Díaz
cost                      75
ict_index               23.9
total_points              17
points_per_game          8.5
form                     8.5
position                 MID
team                     LIV
score                  72.25
Name: 297, dtype: object, 'new': id                     188
name               Madueke
cost                    65
ict_index             21.4
total_points            20
points_per_game       20.0
form                  10.0
position               MID
team                   CHE
score                200.0
Name: 10, dtype: object, 'score-dif': np.float64(127.75)}